 <p>product2 works!</p>
<!--<div class="product2">
    <label for="id">id</label>
    <input type="text"id="id" #id >
    <br>
    <label>Name</label>
    <br>
    <input type="text" #name>
    <br>
    <label>Email</label>
    <br>
    <input type="text" #email>
    <br>
    <label>PhoneNumber</label>
    <br>
    <input type="number" #phonenumber>
    <br><br>
    <button class="btn btn-secondary" (click)="add(id,name,email,phonenumber)">Add</button>


   

    <br><br>
    <table class="table table-boder">
        <thead>
          <tr  >
            <th >Id</th>
            <th >Name</th>
            <th >Email</th>
            <th>PhoneNumber</th>
            <th >Action</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products;index as i" >
              
            <td>{{i+1}}</td>
            <td>{{item.id}}</td>
            <td>{{item.ProductName}}</td>
            <td>{{item.Email}}</td>
            <td>{{item.PhoneNumber}}</td>
           
          
        </tbody>
      </table>
    

</div> -->
